<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <h4>Hello,{{user.fullname}}</h4>
                        <p>
                            This is your information <br>
                            Fullname: {{user.fullname}} <br>
                            Username: {{user.username}} <br>
                            Address: {{user.address}} <br>
                            Telephone: {{user.telephone}} <br>
                        </p>
                        <button>
                            <a href="/accountlist" class="">View list admin account</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>