<div id="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Trang chủ</a>
      </li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th style="width: 160px;">Mã sản phẩm</th>
                <th>Hãng</th>
                <th style="width: 140px;">Thương hiệu</th>
                <th style="width: 140px;">Tên sản phẩm</th>
                <th>CPU</th>
                <th>Ram</th>
                <th>VGA</th>
                <th style="width: 100px;">Bộ nhớ</th>
                <th style="width: 140px;">Giá nhập</th>
                <th style="width: 140px;">Giá bán</th>
                <th style="width: 40px;">SL</th>
              </tr>
            </thead>
            {{#each listPro}}
            <tbody>
              <tr>
                <th scope="row">{{laptop_id}}</th>
                <td>{{manufacture_name}}</td>
                <td>{{model_name}}</td>
                <td>{{laptop_name}}</td>
                <td>{{laptop_cpu}}</td>
                <td>{{laptop_ram}}</td>
                <td>{{laptop_vga}}</td>
                <td>{{laptop_disk}}</td>
                <td>{{cost}} VNĐ</td>
                <td>{{price}} VNĐ</td>
                <td>{{inventory}}</td>
              </tr>
            </tbody>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>